<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HeadLine chat</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>

<body data-spy="scroll" data-target="#navbarResponsive" id="body">
  !--Navbar-->

  {{#if hbsObj.user}}

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/"><span>Headline Chat</span></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="navbar-brand page-headers text-light my-0" data-id="{{hbsObj.user.username}}" id="userName">
          <span>Welcome:
          </span><span>{{hbsObj.user.username}}</span></li>
        <li class="nav-item"><a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" id="logOut" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  {{else}}

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/"><span>Headline Chat</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" id="signUp" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item"><a class="nav-link" id="logIn" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  {{/if}}
  <br><br><br><br>
  {{{body}}}
</body>

</html>